* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;

}

.sticky {
    color: white;
    position: fixed;
    background-color: #0c8ebe;
    z-index: 999;
    right: 1.5em;
    bottom: .8em;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;

}

.blue-line {
    width: 70px;
    height: 5px;
    background: #03A3DF;
    border-radius: 50px;
}

.blue-line2 {
    width: 35px;
    height: 5px;
    background: #03A3DF;
    border-radius: 50px;
}

.container {
    width: 95%;
    margin: 0 auto;
}


header {
    width: 100%;
    height: 70px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    position: fixed;

    nav {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        .logo {
            // width: 100%;
            // display: block;

            img {
                width: 60px;
                cursor: pointer;
            }
        }

        #check {
            display: none;
        }

        .mobNav {
            color: black;
            font-size: 22px;
            display: none;
        }

        .cover {
            width: 100%;
            height: 100vh;
            background: rgba(0, 0, 0, 0.559);
            position: fixed;
            top: 0;
            left: 0;
            z-index: 19;
            display: none;
        }

        ul {
            display: flex;
            gap: 2.5rem;

            .dropbtn {
                background-color: white;
                /* background-color: #3498DB;
                color: white; */
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;

            }

            /* .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
              } */

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                width: 300px;
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                // min-width: 160px;
                // overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown a:hover {
                background-color: #ddd;
            }

            .show {
                display: block;
            }



            .dropbtn2 {
                /* background-color: #3498DB;
                color: white; */

                background-color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            /* .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
              } */

            .dropdown2 {
                position: relative;
                display: inline-block;
            }

            .dropdown-content2 {
                width: 150px;
                // height: 200px;
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                // min-width: 160px;
                // overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            .dropdown-content2 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown2 a:hover {
                background-color: #ddd;
            }

            .show2 {
                display: block;
            }



            .dropbtn3 {
                /* background-color: #3498DB;
                color: white; */

                background-color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            /* .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
              } */

            .dropdown3 {
                position: relative;
                display: inline-block;
            }

            .dropdown-content3 {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                // min-width: 160px;
                // overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            .dropdown-content3 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown3 a:hover {
                background-color: #ddd;
            }

            .show3 {
                display: block;
            }



            .dropbtn4 {
                /* background-color: #3498DB;
                color: white; */

                background-color: white;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
            }

            /* .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
              } */

            .dropdown4 {
                position: relative;
                display: inline-block;
            }

            .dropdown-content4 {
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }

            .dropdown-content4 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

            .dropdown4 a:hover {
                background-color: #ddd;
            }

            .show4 {
                display: block;
            }


            .dropbtn5 {
                width: 300px;
                background-color: #f1f1f1;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                text-align: left;
            }

            /* .dropbtn:hover, .dropbtn:focus {
                background-color: #2980B9;
            } */

            .dropdown5 {
                position: relative;
                display: inline-block;
            }

            .dropdown-content5 {
                display: none;
                position: absolute;
                left: 300px;
                // top: -30px;
                background-color: #f2f2f2;
                // min-width: 160px;
                // overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 9999;
            }

            .dropdown-content5 a {
                width: 250px;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                // z-index: 999;
            }

            .dropbtn5:hover {
                background-color: #ddd;
            }

            .dropdown5 a:hover {
                background-color: #ddd;
            }

            .show5 {
                display: block;
            }


            .dropbtn6 {
                /* background-color: #3498DB;
                color: white; */
                background-color: #f1f1f1;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                width: 150px;
                text-align: left;
            }

            .dropbtn6:hover {
                background-color: #ddd;
            }

            .dropdown6 {
                position: relative;
                display: inline-block;
            }


            .dropdown-content6 {
                display: none;
                position: absolute;
                // left: 250px !important;
                background-color: #f2f2f2;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 9999;
            }

            .dropdown-content6 a {
                width: 200px;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                // z-index: 999;
            }

            // .dropbtn5:hover {
            //     background-color: #ddd;
            // }

            .dropdown6 a:hover {
                background-color: #ddd;
            }

            .show6 {
                display: block;
            }



            .dropbtn7 {
                /* background-color: #3498DB;
                color: white; */
                background-color: #f1f1f1;
                padding: 16px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                width: 220px;
                text-align: left;
            }

            .dropbtn7:hover {
                background-color: #ddd;
            }

            .dropdown7 {
                position: relative;
                display: inline-block;
            }

            .dropdown-content7 {
                // width: 300px;
                display: none;
                position: absolute;
                left: 220px;
                background-color: #f2f2f2;
                min-width: 160px;
                overflow: auto;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 9999;
            }

            .dropdown-content7 a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                // z-index: 999;
            }

            // .dropbtn5:hover {
            //     background-color: #ddd;
            // }

            .dropdown7 a:hover {
                background-color: #ddd;
            }

            .show7 {
                display: block;
            }




            li {
                a {
                    font-size: 18px;
                    color: black;
                    // position: relative;
                }

                a:hover {
                    border-bottom: #03A3DF 4px solid;
                    // position: absolute;
                    // content: "";
                    // width: transparent;
                    // height: 5px;
                    // background-color: #03A3DF;
                    // transition: .5s cubic-bezier(0.6, 0.04, 0.98, 0.335);
                }

            }




        }
    }
}

